<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderDao">

    <delete id="delete">
        DELETE FROM `shop_order`
    </delete>
    
    <insert id="insert" parameterType="com.example.demo.entity.OrderEntity">
        INSERT  INTO  `shop_order`(
            `oid`,
            `number`,
            `pid`,
            `pname`,
            `pprice`,
            `uid`,
            `username`
        )VALUES (
            #{oid,jdbcType=VARCHAR},
            #{number,jdbcType=BIGINT},
            #{pid,jdbcType=BIGINT},
            #{pname,jdbcType=VARCHAR},
            #{pprice,jdbcType=DOUBLE},
            #{uid,jdbcType=BIGINT},
            #{username,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertBatch">
        INSERT   INTO `shop_order`(
            `oid`,
            `number`,
            `pid`,
            `pname`,
            `pprice`,
            `uid`,
            `username`
        )VALUES
        <foreach collection="list" item="item" index= "index" separator =",">
            (#{item.oid,jdbcType=VARCHAR},
            #{item.number,jdbcType=BIGINT},
            #{item.pid,jdbcType=BIGINT},
            #{item.pname,jdbcType=VARCHAR},
            #{item.pprice,jdbcType=DOUBLE},
            #{item.uid,jdbcType=BIGINT},
            #{item.username,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="selectByOid" parameterType="string" resultType="com.example.demo.entity.OrderEntity">
        SELECT * FROM `shop_order` WHERE oid = #{oid}
    </select>
    
</mapper>